body{
    background: rgb(241,241,241);
background: linear-gradient(176deg, rgba(241,241,241,1) 20%, rgba(194,131,125,1) 42%, rgba(175,16,1,1) 56%, rgba(0,0,0,1) 84%, rgba(255,255,255,1) 100%);
    height: 100vh;
    
}

#marvelimg{
    align-items: center;
    width: 60px;
    
}
.marvel{
    text-align: center;
    font-size: 35px;
    color: red;
    
}

.container
{
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    justify-content: space-evenly;

}
.card1{
    width: 260px;
    height: 400px;
    border: 1px solid red;
    transition-duration: 1s;
    border-radius: 30px;
}
.card2{
    width: 260px;
    height: 400px;
    border: 1px solid red;
    transition-duration: 1s;
    border-radius: 30px;
}
.card3{
    width: 260px;
    height: 400px;
    border: 1px solid red;
    transition-duration: 1s;
    border-radius: 30px;
}
.flex-gap > .container{
    margin: 6px;
}

#ironmanimage{
    width: 200px;
}

.ironmantxt{
    
    text-align: center;
    font-size: 25px;
    color: rgb(0, 0, 0);
}

.tonytxt{
    
    text-align: center;
    font-size: 10px;
    color: rgb(0, 0, 0);
    margin-top: 30px;
}

.card1:hover{
    color:azure;
    box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
    color: #fff;
    background: rgb(175,16,1);
    background: linear-gradient(176deg, rgba(175,16,1,1) 0%, rgba(0,0,0,1) 84%);
}

.card2:hover{
    box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
    color: #fff;
    background: rgb(5,0,113);
    background: linear-gradient(176deg, rgba(5,0,113,1) 21%, rgba(43,2,91,1) 46%, rgba(149,0,0,1) 77%, rgba(181,11,11,1) 95%);
    
}

.card3:hover{
    box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
    color: #fff;
    background: rgb(0,0,0);
    background: linear-gradient(176deg, rgba(0,0,0,1) 21%, rgba(255,0,0,1) 95%, rgba(255,184,0,1) 100%);
    
}

a {
    color: rgb(0, 0, 0);
}

#capimage{
    height: 222px;
    width: 258px;
}

@media all and (max-width:600px){
    .container{
        
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
}